:root {
  --orange: #f5791f;
  --violet: #6d42b3;
  --green: #42b36d;
  --blue: #1B138A;
  --default-bg: #1e1e1e;
  --sidebar-width: 250px;
  --yellow: #FFCE00;
}

body {
  height: 100vh;
  min-width: 100%;
  background-color: var(--default-bg);
  color: #d9d9d9;
  margin: 0px;
  padding: 0px;
}

.text-orange {
  color: var(--orange);
}

.text-violet {
  color: var(--violet);
}

.text-green {
  color: var(--green);
}
